<h1><%= @machine.location %> Vending Machine</h1>

<p> Snacks </p>
<ul>
<% @snacks.each do |snack|%>
	<li> <%= snack.name %>: <%=number_to_currency(snack.price) %>
<% end %>
</ul>

<p> Average Price: <%=number_to_currency(@avg_price) %> </p>
